@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* #bg-black{
    background-color: #00000000 !important;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .bg-black{
    background-color: aliceblue !important;
} */


body {
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
    font-style: normal;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

.nav_links .active {
    color: #ffc107 !important;
}

.nav_links {
    transition: color 0.3s ease;
}

.nav_links a:hover {
    color: #ffc107 !important;
}

.nav_links i:hover {
    color: #ffc107 !important;
}

.text_underline {
    position: relative;
    padding-bottom: 15px;
}

.text_underline::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    left: 0;
    bottom: 0;
    /* transform: translateX(-50%); */
    background: #ffc107;
    border-radius: 2px;
}


.review .text_underline {
    position: relative;
    padding-bottom: 15px;
}

.review .text_underline::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #ffc107;
    border-radius: 2px;
}

.review .text2 {
    width: 50% !important;
}

.slide img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.slider {
    position: relative;
    width: 600px;
    height: 350px;
    overflow: hidden;
    border-radius: 12px;
}

.slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    padding: 20px;
    min-width: 89%;
    background-color: #212529bf;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(137, 134, 134, 0.3);
    flex: 0 0 calc(100% / 1);
}

.btn_control {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 50%;
}

.btn_control.prev {
    left: 15px;
}

.btn_control.next {
    right: 15px;
}


/* Indicators */
.indicators {
    text-align: center;
    margin-top: 15px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: #354bdb;
}

.group {
    animation: scrolling linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes scrolling {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translateX(-150px);
    }

    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    }
}


/* menu style */
.menu_control .text_underline {
    position: relative;
    padding-bottom: 15px;
}

.menu_control .text_underline::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #ffc107;
    border-radius: 2px;
}

.btns .active {
    background-color: #ffc107 !important;
    color: black !important;
}

.btns button:hover {
    background-color: #ffc107 !important;
    color: black !important;
}

.cards{
    border-bottom: 1px solid #ffc107 !important;
}

.card {
    background: transparent !important;
    border-radius: 15px;
    align-items: center;
    color: #ffc107 !important;
}

.card h3 {
    font-size: medium;
    margin-top: 10px;
    white-space: nowrap;
}

.card img {
    height: 250px;
    width: 250px;
    border-radius: 15px;
    margin-bottom: 5px;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.1);
}

@media (max-width:576px) {

    /* #nav_menu:checked~.nav_menu{
        display: flex !important;
    }

    #nav_menu:checked~.nav_links{
        position: absolute;
        background-color: #354bdb;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        top: 0;        
    } */




    .nav_menu {
        display: none;
        /* max-height: 0;
        overflow: hidden; */
    }

    .text_underline::after {
        content: "";
        position: absolute;
        width: 30%;
        height: 2px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background: #ffc107;
        border-radius: 2px;
    }

    .review .text2 {
        width: 75% !important;
    }

    /* menu style */

    .menu_control .text2 {
        width: 75% !important;
    }

    .card img {
        height: 350px;
        width: 350px;
        border-radius: 15px;
        margin-bottom: 10px;
    }




}

@media (min-width: 768px) {
    .slide {
        min-width: 48%;
        flex: 0 0 calc(100% / 2 - 10px);
    }
}

@media (min-width: 1200px) {
    .slide {
        min-width: 32%;
        flex: 0 0 calc(100% / 3 - 10px);
    }
}